doctype html
html(lang="en")
  head
    title Jade Template Engine
    link(href="/public/css/bootstrap.min.css")
    link(href="/public/css/style.css")
  body
    h1 Jade Template Engine
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, voluptate, odio. Cum a perspiciatis esse officia! Ipsa, aut consequatur fuga ullam delectus, repellat esse est quisquam repellendus, consectetur reiciendis placeat.